body{
    background-color: black;
    color: green;
    display: flex;
    justify-content: center;
    font-size: 18vw;
    margin-top: 10%;
    border: .21px solid white;
    border-radius: 20px;

}

h1{
    color: white;
}